* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #FFD700;
  }
#cabecario {
    text-align: center;
    margin: 8%;
  }
main {
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 0px 452px 0px 452px;
    font-size: 20px;
  }
ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
ul li {
    display: inline-block;
    text-decoration: none;
    margin: 0 12px;
    justify-content: center;
    padding: 11px 11px 0px 11px;
  }
#linha {
    width: 70%;
    margin: 14px auto;
    border-color: rgba(0, 0, 0, 0);
}
.linhaS {
  border-color: rgba(0, 0, 0, 0);
}
header hr {
    border-color: rgba(0, 0, 0, 0);
  }
td {
    padding: 3%;
}
table {
    border: solid rgba(0, 0, 0, 0) 2px;
    float: left;
    margin-right: 11px;
    margin-left: 32px;
}
img {
  border: solid rgba(0, 0, 0, 0) 4px;
  margin-bottom: 17px;
}
.texto {
  border: solid rgba(0, 0, 0, 0) 2px;
  border-radius: 15px;
  padding: 12px;
}